<mat-card class="book-content" (click)="onContentClick()">
  <h1>图书标题</h1>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>================下一章===============</p>
</mat-card>

<!-- <div class="book-content" (click)="onContentClick()">
  <h1>图书标题</h1>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>book-content works!</p>
  <p>================下一章===============</p>
</div> -->