<app-book-panel [bookNodes]="bookNodes"></app-book-panel>

<p>beginbeginbeginbeginbeginbeginbeginbegin</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>shelf works!</p>
<p>endendendendendendendendendendendend</p>