.book-upload {
    display: inline-block;
    width: 144px;
    height: 196px;
    margin-top: 30px;
    border: 1px dashed #d9d9d9;
    background-color: #fafafa;
    cursor: pointer;
}

.book-upload:hover {
    border-color: #1890ff;
}

.upload-box {
    text-align: center;
    height: 57px;
    padding: 70px 0;
}

.upload-icon {
    font-size: 32px;
    color: #999;
    display: inline-block;
}
