<ng-content *ngIf="!editing"></ng-content>
<div class="cate-content">
  <span *ngIf="!editing">{{item.name}}</span>
  <mat-form-field *ngIf="editing">
    <input matInput #cateInput value="{{item.name}}" (keyup.enter)="updateCategory(cateInput.value)"
      (blur)="updateCategory(cateInput.value)" (click)="$event.stopPropagation()">
  </mat-form-field>
  <mat-icon *ngIf="!editing" title="更多操作" class="more-icon" (click)="$event.stopPropagation()"
    [matMenuTriggerFor]="actMenu">
    more_vert
  </mat-icon>
</div>


<mat-menu #actMenu="matMenu" overlapTrigger="true">
  <div (mouseleave)="closeMenu()">
    <button mat-menu-item (click)="editCategoryName()">
      <mat-icon>edit</mat-icon>
      <span>修改名称</span>
    </button>
    <button mat-menu-item (click)="delCategory()">
      <mat-icon>delete</mat-icon>
      <span>解散分类</span>
    </button>
  </div>
</mat-menu>