.vertical-menu-item {
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    max-width: 260px;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    text-decoration: none;
    text-align: left;
    width: 93%;
    word-wrap: break-word;
    line-height: 39px;
}

.vertical-menu-item:hover {
    background-color: #dbdbdb;
    color: #1976d2;
    text-shadow: 0 0 5px #fff;
}

.vertical-menu-item .mat-icon {
    position: absolute;
    top: 7px;
    right: 0;
    margin: 4px;
}

.level-1 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 14px;
  transition: background-color 0.2s;
}

.level-2 {
  font-size: 14px;
  font-weight: 400;
  margin-left: 12px;
}

.level-3 {
  font-size: 14px;
  margin-left: 10px;
}

.level-1.expanded .mat-icon, .level-2.expanded .mat-icon {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;

}

.level-1:not(.expanded) .mat-icon, .level-2:not(.expanded) .mat-icon {
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;
}

.vertical-menu-item.selected {
  color: #1976d2;
}


.heading {
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.heading-children.expanded {
  visibility: visible;
  opacity: 1;
  max-height: 4000px;
  transition: visibility 500ms, opacity 500ms, max-height 500ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.heading-children.collapsed {
  visibility: hidden;
  opacity: 0;
  max-height: 1px;
  transition: visibility 275ms, opacity 275ms, max-height 280ms;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}