<!-- 没有子分类 -->
<div *ngIf="!node.children">
  <a mat-button [ngClass]="classes" class="vertical-menu-item heading">
    <span>{{node.name}}</span>
    <mat-icon class="more-icon">more_vert</mat-icon>
  </a>
</div>

<!-- 包含子分类 -->
<div *ngIf="node.children">
  <a mat-button [ngClass]="classes" (click)="headerClicked()" class="vertical-menu-item heading">
    <mat-icon class="rotating-icon">keyboard_arrow_right</mat-icon>
    <span>{{node.name}}</span>
    <mat-icon class="more-icon" (mouseenter)="openMenu()" [matMenuTriggerFor]="actMenu">more_vert</mat-icon>
    <mat-menu #actMenu="matMenu" overlapTrigger="true">
      <div (mouseleave)="closeMenu()">
        <button mat-menu-item (click)="addCategory()">
          <mat-icon>add</mat-icon>
          <span>添加子类别</span>
        </button>
        <button mat-menu-item (click)="editCategoryName()">
          <mat-icon>edit</mat-icon>
          <span>修改类别名称</span>
        </button>
        <button mat-menu-item (click)="delCategory()">
          <mat-icon>delete</mat-icon>
          <span>删除类别</span>
        </button>
      </div>
    </mat-menu>
  </a>


  <div class="heading-children" [ngClass]="classes">
    <app-category-item *ngFor="let node of nodeChildren" [level]="level + 1" [isParentExpanded]="isExpanded"
      [node]="node" [selectedNodes]="selectedNodes">
    </app-category-item>
  </div>
</div>