<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button class="hamburger" mat-button title="Docs menu" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>E-Book Reader</span>
  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="true">
    <app-category-menu [items]="categoryItems" (addCate)="addCate($event)" (delCate)="delCate($event)">
    </app-category-menu>
  </mat-sidenav>
  <mat-sidenav-content class="innerbox innerbox-dispale">
    <app-shelf [cateItems]="categoryItems" [cateMap]="cateMap"></app-shelf>
  </mat-sidenav-content>
</mat-sidenav-container>