:host {
    width: 20%;
    display: inline-block;
    margin-bottom: 25px;
}

.book-read-time {
    font-size: 12px;
    line-height: 22px!important;
    padding-bottom: 8px;
    color: #9e9e9e!important;
    margin: 0;
}

.book-main {
    position: relative;
    width: 140px;
    height: 196px;
    cursor: pointer;
    
}

.book-message {
-webkit-transition: all .5s;
    transition: all .5s;
    box-shadow: 0 1px 6px rgba(0,0,0,.12), 0 1px 4px rgba(0,0,0,.12);

}

.book-cover {
    display: block;
    width: 100%;
    height: 100%;
}

.book-title {
    padding-top: 20px;
    width: 140px;
    margin: 0;
    line-height: 24px!important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 15px!important;
    color: #333!important;
}