<!-- <div id="{{book.id}}" class="book-item">
  <h4 class="book-read-time">10小时前</h4>
  <div class="book-main">
    <div class="book-message">
      <a>
        <img class="book-cover" src="{{book.cover}}" alt="">
      </a>
    </div>

  </div>
  <p class="book-title">{{book.name}}</p>
</div> -->
<div class="book-head">
  <h4 class="book-read-time">10小时前</h4>
  <mat-icon class="book-menu" (mouseenter)="openMenu()" [matMenuTriggerFor]="menu">more_vert
  </mat-icon>
  <mat-menu style="display: none" overlapTrigger="true" #menu="matMenu" yPosition="below">
    <div (mouseleave)="closeMenu()">
      <button mat-menu-item (click)="editName()">
        <mat-icon>edit</mat-icon>
        <span>修改名称</span>
      </button>
      <button mat-menu-item>
        <mat-icon>edit</mat-icon>
        <span>修改类别</span>
      </button>
      <button mat-menu-item (click)="openInfoDialog()">
        <mat-icon>info</mat-icon>
        <span>书籍信息</span>
      </button>
      <button mat-menu-item (click)="delBook()">
        <mat-icon>delete</mat-icon>
        <span>删除书籍</span>
      </button>
    </div>
  </mat-menu>
</div>
<div class="book-main">
  <div class="book-message">
    <a [routerLink]="['/reader', book.hash]">
      <img class="book-cover" src="{{host+book.cover}}" alt="">
    </a>
  </div>
</div>
<div class="book-foot">
  <form class="example-form" *ngIf="editing">
    <mat-form-field class="example-full-width">
      <input id="text" matInput #titleInput value="{{book.name}}" (keyup.enter)="updateName(titleInput.value)"
        (blur)="updateName(titleInput.value)">
    </mat-form-field>
  </form>
  <p *ngIf="!editing" class="book-title" style="-webkit-box-orient: vertical;" title="{{book.name}}">{{book.name}}</p>
</div>