<!-- <div id="{{book.id}}" class="book-item">
  <h4 class="book-read-time">10小时前</h4>
  <div class="book-main">
    <div class="book-message">
      <a>
        <img class="book-cover" src="{{book.cover}}" alt="">
      </a>
    </div>

  </div>
  <p class="book-title">{{book.name}}</p>
</div> -->
<h4 class="book-read-time">10小时前</h4>
<div class="book-main">
  <div class="book-message">
    <a [routerLink]="['/reader', book.hash]">
      <img class="book-cover" src="{{host+book.cover}}" alt="">
    </a>
  </div>

</div>
<p class="book-title" title="{{book.name}}">{{book.name}}</p>